body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

body,
input,
button,
textarea,
a {
  font: 500 20px 'Lato', sans-serif;
}

.error {
  color: red;
}
