.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 500px;
}

.container input,
.container button {
  display: block;
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  box-sizing: border-box;
}

.container button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #5fe122;
  cursor: pointer;
}
